@model IEnumerable<WE_CIS_186.Models.CustomerInf>
@{
    ViewBag.Title = "Danh sách khách hàng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="og_table">
    <div style="display: flex; justify-content: center">
        @{
            string month = "";
            string year = "";
            foreach (var item in Model)
            {
                month = item.Month;
                year = item.Year;
            }
        <p style="color: white; font-size: 20px;line-height: 20px; font-weight: bold">DANH SÁCH KHÁCH HÀNG THÁNG @month / @year</p>
        }

        @*<select style="width: 123px" id="listTime" onchange="(window.location = this.options[this.selectedIndex].value);">
            @foreach (var item in Model)
            {
                <option>@item.Kangz</option>
            }
        </select>*@
    </div>
    <div class="KangAlert">
        <div>
            <p style="color: red; font-size: 15px;">Giao diện này chưa hỗ trợ thiết bị di động</p>
        </div>
    </div>
    <section class="CustomerList0">
        <div class="tbl-header">
            <table class="fixmobile" cellpadding="0" cellspacing="0" border="0">
                <thead>
                    <tr>
                        <th>No.</th>
                        <th>Họ và tên</th>
                        <th>Ngày sinh</th>
                        <th>Địa chỉ</th>
                        <th>Email</th>
                        <th>SĐT</th>
                        <th>Ref.</th>
                        <th>Code</th>
                    </tr>
                </thead>
            </table>
        </div>
        <div class="tbl-content">
            <table cellpadding="0" cellspacing="0" border="0" class="table-hover">
                <tbody>
                    @{
                        int i = 1;
                        foreach (var item in Model)
                        {
                            <tr>
                                <td>@i</td>
                                <td>@item.Name</td>
                                <td>@item.DoB</td>
                                <td>@item.Address</td>
                                <td>@item.Email</td>
                                <td>@item.Phone</td>
                                <td>@item.Misc</td>
                                <td>@item.PreCode</td>
                            </tr>
                            i++;
                        }
                    }
                </tbody>
            </table>
        </div>
    </section>
</div>


<link href="~/Library/css/bootstrap.min.css" rel="stylesheet" />
<script src="~/Library/jquery-nice-select-1.1.0/js/jquery.nice-select.js"></script>
<link href="~/Library/jquery-nice-select-1.1.0/css/nice-select.css" rel="stylesheet" />
<script>
    var usedNames = {};
    $("select[id='listTime'] > option").each(function () {
        if (usedNames[this.text]) {
            $(this).remove();
        } else {
            usedNames[this.text] = this.value;
        }
    });
    $(window).on("load resize ", function () {
        var scrollWidth = $(".tbl-content").width() - $(".tbl-content table").width();
        $(".tbl-header").css({ "padding-right": scrollWidth });
    }).resize();
    $(document).ready(function () {
        var month = window.location.search;
        $('select').niceSelect();
    });
</script>