@{
    ViewBag.Title = "We Escape SG";
}



@model WE_CIS_186.Models.Customer


<div class="container-contact100" style="">
    <div class="wrap-contact100">
        <div class="contact100-form-title" style="background-image: url(../../Library/images/we-title.png);">
            <span class="contact100-form-title-1" style="color:#FAD766; margin-top: 12px; user-select: none">
                Thông Tin Khách Hàng
            </span>
            <span class="contact100-form-title-2" style="user-select: none">
                We Escape for everyone
            </span>
            <span class="contact100-form-title-2" style="user-select: none">
                http://hcm.weescape.vn/
            </span>
        </div>

        <form class="contact100-form validate-form" action="" method="post">

            @Html.AntiForgeryToken()
            @Html.ValidationSummary(false, "", new { @class = "text-danger" })
            @if (ViewBag.SuccessMessage != null)
            {
                <div class="alert alert-success">@ViewBag.SuccessMessage</div>
            }

            @* Name *@
            <div class="wrap-input100 validate-input" data-validate="Name is required">
                <span style="user-select: none; font-weight: bold" class="label-input100">Họ và tên:</span>
                @*<input class="input100" type="text" name="name" placeholder="Họ tên đầy đủ của bạn - (*) bắt buộc" autocomplete="new-password">*@
                @Html.TextBoxFor(model => model.Name, new { placeholder = "Họ tên đầy đủ của bạn - (*) bắt buộc", @class = "input100", @autofocus = "autofocus", @title = "rma", @autocomplete = "rma-text" })
                <span class="focus-input100"></span>
            </div>
            @* Email *@
            <div class="wrap-input100">
                <span style="user-select: none; font-weight: bold" class="label-input100">Email:</span>
                @*<input class="input100" type="text" name="email" placeholder="Địa chỉ email" autocomplete="new-password">*@
                @Html.TextBoxFor(model => model.Email, new { placeholder = "Địa chỉ email", @class = "input100", @autofocus = "autofocus", @autocomplete = "rmb-t3xt", @title = "rmb" })
                <span class="focus-input100"></span>
            </div>
            @* DoB *@
            <div class="wrap-input100 validate-input" data-validate="DoB is required">
                <span style="user-select: none; font-weight: bold" class="label-input100">DoB:</span>
                @*<input class="input100" type="text" name="email" placeholder="Ngày tháng năm sinh" autocomplete="new-password">*@
                @Html.TextBoxFor(model => model.DoB, new { placeholder = "Ngày tháng năm sinh", @class = "input100", @autofocus = "autofocus", @autocomplete = "rmc-t4xt", @title = "rmc" })
                <span class="focus-input100"></span>
            </div>
            @* Phone number *@
            <div class="wrap-input100 validate-input" data-validate="Phone is required">
                <span style="user-select: none; font-weight: bold" class="label-input100">SĐT:</span>
                @*<input class="input100" type="text" name="phone" placeholder="Số điện thoại của bạn - (*) bắt buộc" autocomplete="new-password">*@
                @Html.TextBoxFor(model => model.Phone, new { placeholder = "Số điện thoại của bạn - (*) bắt buộc", @class = "input100", @autofocus = "autofocus", @autocomplete = "rmd-t5xt", @title = "rmd" })
                <span class="focus-input100"></span>
            </div>
            @* Address *@
            <div class="wrap-input100">
                <span style="user-select: none; font-weight: bold" class="label-input100">Địa chỉ:</span>
                @*<textarea class="input100" name="message" placeholder="Nhập địa chỉ của bạn" autocomplete="new-password"></textarea>*@
                @Html.TextBoxFor(model => model.Address, new { placeholder = "Nhập địa chỉ của bạn", @class = "input100", @autofocus = "autofocus", @autocomplete = "rme-t6xt", @title = "rme" })
                <span class="focus-input100"></span>
            </div>
            @* Mã code *@
            <div class="wrap-input100">
                <span style="user-select: none; font-weight: bold" class="label-input100">Code:</span>
                @*<input class="input100" type="text" name="phone" placeholder="Code giảm giá" autocomplete="new-password">*@
                @Html.TextBoxFor(model => model.PreCode, new { placeholder = "Code giảm giá", @class = "input100", @autofocus = "autofocus" })
                <span class="focus-input100"></span>
            </div>
            <div class="container-contact100-form-btn">
                <button type="submit" class="contact100-form-btn">
                    <span>
                        Submit
                        <i class="fa fa-long-arrow-right m-l-7" aria-hidden="true"></i>
                    </span>
                </button>
            </div>
        </form>
    </div>
</div>