@{
    ViewBag.Title = "We Escape SG";
}
@model WE_CIS_186.Models.Customer

<div class="container-contact100" style="">
    <div class="wrap-contact100">
        <div class="contact100-form-title" style="background-image: url(../../Library/images/we-title.png);">
            <span class="contact100-form-title-1" style="color:#FAD766; margin-top: 12px; user-select: none">
                Thông Tin Khách Hàng
            </span>
            <span class="contact100-form-title-2" style="user-select: none">
                We Escape for everyone
            </span>
            <span class="contact100-form-title-2" style="user-select: none">
                http://hcm.weescape.vn/
            </span>
        </div>

        <form class="contact100-form validate-form" action="" method="post">

            @Html.AntiForgeryToken()
            @if (ViewBag.SuccessMessage != null)
            {
                <div class="alert alert-success">@ViewBag.SuccessMessage</div>
            }

            @* Name *@
            <div class="wrap-input100 validate-input" data-validate="Name is required">
                <span style="user-select: none; font-weight: bold" class="label-input100">Họ và tên:</span>
                @*<input class="input100" type="text" name="name" placeholder="Họ tên đầy đủ của bạn - (*) bắt buộc" autocomplete="new-password">*@
                @Html.TextBoxFor(model => model.Name, new { placeholder = "Họ tên đầy đủ của bạn - (*) bắt buộc", @class = "input100", @autofocus = "autofocus", @autocomplete = "new-password" })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                <span class="focus-input100"></span>
            </div>
            @* Email *@
            <div class="wrap-input100">
                <span style="user-select: none; font-weight: bold" class="label-input100">Email:</span>
                @*<input class="input100" type="text" name="email" placeholder="Địa chỉ email" autocomplete="new-password">*@
                @Html.TextBoxFor(model => model.Email, new { placeholder = "Địa chỉ email", @class = "input100", @autofocus = "autofocus", @autocomplete = "new-password" })
                <span class="focus-input100"></span>
            </div>
            @* DoB *@
            <div class="wrap-input100 validate-input" data-validate="DoB is required">
                <span style="user-select: none; font-weight: bold" class="label-input100">DoB:</span>
                @*<input class="input100" type="text" name="email" placeholder="Ngày tháng năm sinh" autocomplete="new-password">*@
                @Html.TextBoxFor(model => model.DoB, new { placeholder = "Ngày tháng năm sinh", @class = "input100", @autofocus = "autofocus", @autocomplete = "new-password" })
                @Html.ValidationMessageFor(model => model.DoB, "", new { @class = "text-danger" })
                <span class="focus-input100"></span>
            </div>
            @* Phone number *@
            <div class="wrap-input100 validate-input" data-validate="Phone is required">
                <span style="user-select: none; font-weight: bold" class="label-input100">SĐT:</span>
                @*<input class="input100" type="text" name="phone" placeholder="Số điện thoại của bạn - (*) bắt buộc" autocomplete="new-password">*@
                @Html.TextBoxFor(model => model.Phone, new { placeholder = "Số điện thoại của bạn - (*) bắt buộc", @class = "input100", @autofocus = "autofocus", @autocomplete = "new-password" })
                @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                <span class="focus-input100"></span>
            </div>
            @* Address *@
            <div class="wrap-input100">
                <span style="user-select: none; font-weight: bold" class="label-input100">Địa chỉ:</span>
                @*<textarea class="input100" name="message" placeholder="Nhập địa chỉ của bạn" autocomplete="new-password"></textarea>*@
                @Html.TextBoxFor(model => model.Address, new { placeholder = "Nhập địa chỉ của bạn", @class = "input100", @autofocus = "autofocus", @autocomplete = "new-password" })
                <span class="focus-input100"></span>
            </div>
            @* Mã code *@
            <div class="wrap-input100">
                <span style="user-select: none; font-weight: bold" class="label-input100">Code:</span>
                @*<input class="input100" type="text" name="phone" placeholder="Code giảm giá" autocomplete="new-password">*@
                @Html.TextBoxFor(model => model.PreCode, new { placeholder = "Code giảm giá", @class = "input100", @autofocus = "autofocus" })
                <span class="focus-input100"></span>
            </div>

            <div class="wrap-input100">


                <input type="checkbox" name="phone" placeholder="" class="WERules" autocomplete="new-password">Tôi đồng ý với điều khoản của We Escape.
                <p type="button" id="clickMe">Click vào đây để xem chi tiết điều khoản</p>
            </div>
            <div class="container-contact100-form-btn">
                <button type="submit" class="contact100-form-btn">
                    <span>
                        Submit
                        <i class="fa fa-long-arrow-right m-l-7" aria-hidden="true"></i>
                    </span>
                </button>
            </div>
        </form>
    </div>
</div>


<textarea cols="0" rows="0" id="myText" style="display:none">Some hidden text display none</textarea>

<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>

<script src="https://code.jquery.com/ui/1.11.1/jquery-ui.min.js"></script>

<link rel="stylesheet" href="https://code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css" />

<script>
    $(function () {
        $('#clickMe').click(function (event) {
            var mytext = $('#myText').val();
            $('<div id="dialog">' + mytext + '</div>').appendTo('body');
            event.preventDefault();
            $("#dialog").dialog({
                width: 600,
                modal: true,
                title: "Điều khoản dịch vụ",
                close: function (event, ui) {
                    $("#dialog").remove();
                }
            });
        }); //close click
    });
    //dom ready handler
    jQuery(function ($) {
        //form submit handler
        $('.contact100-form').submit(function (e) {
            //check atleat 1 checkbox is checked
            if (!$('.WERules').is(':checked')) {
                //prevent the default form submit if it is not checked
                e.preventDefault();
                alert('Vui lòng đồng ý với điều khoản của chúng tôi !')
            }
        })
    });
</script>