@{
    ViewBag.Title = "We Escape SG";
    if (Session["ID"] != null)
    {
        if (Convert.ToInt32(Session["Role"]) == 2)
        {
            Response.Redirect("~/Admin/AddUser");
        }
    }
    else
    {
        Response.Redirect("~/User/LoginPage");
    }
}
@model WE_CIS_186.Models.Customer

<div class="container-contact100" style="">
    <div class="wrap-contact100">
        <div class="contact100-form-title" style="background-image: url(../../Library/images/we-title.png);">
            <span class="contact100-form-title-1" style="color:#FAD766; margin-top: 12px; user-select: none">
                Thông Tin Khách Hàng
            </span>
            <span class="contact100-form-title-2" style="user-select: none">
                We Escape for everyone
            </span>
            <span class="contact100-form-title-2" style="user-select: none">
                http://hcm.weescape.vn/
            </span>
        </div>

        <form class="contact100-form validate-form" action="" method="post">

            @Html.AntiForgeryToken()
            @if (ViewBag.SuccessMessage != null)
            {
                <div class="alert alert-success">@ViewBag.SuccessMessage</div>
            }

            @* Name *@
            <div class="wrap-input100 validate-input" data-validate="Name is required">
                <span style="user-select: none; font-weight: bold" class="label-input100">Họ và tên:</span>
                @*<input class="input100" type="text" name="name" placeholder="Họ tên đầy đủ của bạn - (*) bắt buộc" autocomplete="new-password">*@
                @Html.TextBoxFor(model => model.Name, new { placeholder = "Họ tên đầy đủ của bạn - (*) bắt buộc", @class = "input100", @autofocus = "autofocus", @autocomplete = "new-password" })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                <span class="focus-input100"></span>
            </div>
            @* Email *@
            <div class="wrap-input100">
                <span style="user-select: none; font-weight: bold" class="label-input100">Email:</span>
                @*<input class="input100" type="text" name="email" placeholder="Địa chỉ email" autocomplete="new-password">*@
                @Html.TextBoxFor(model => model.Email, new { placeholder = "Địa chỉ email", @class = "input100", @autofocus = "autofocus", @autocomplete = "new-password" })
                <span class="focus-input100"></span>
            </div>
            @* DoB *@
            <div class="wrap-input100 validate-input" data-validate="DoB is required">
                <span style="user-select: none; font-weight: bold" class="label-input100">DoB:</span>
                @*<input class="input100" type="text" name="email" placeholder="Ngày tháng năm sinh" autocomplete="new-password">*@
                @Html.TextBoxFor(model => model.DoB, new { placeholder = "Ngày tháng năm sinh", @class = "input100", @autofocus = "autofocus", @autocomplete = "new-password" })
                @Html.ValidationMessageFor(model => model.DoB, "", new { @class = "text-danger" })
                <span class="focus-input100"></span>
            </div>
            @* Phone number *@
            <div class="wrap-input100 validate-input" data-validate="Phone is required">
                <span style="user-select: none; font-weight: bold" class="label-input100">SĐT:</span>
                @*<input class="input100" type="text" name="phone" placeholder="Số điện thoại của bạn - (*) bắt buộc" autocomplete="new-password">*@
                @Html.TextBoxFor(model => model.Phone, new { placeholder = "Số điện thoại của bạn - (*) bắt buộc", @class = "input100", @autofocus = "autofocus", @autocomplete = "new-password" })
                @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                <span class="focus-input100"></span>
            </div>
            @* Address *@
            <div class="wrap-input100">
                <span style="user-select: none; font-weight: bold" class="label-input100">Địa chỉ:</span>
                @*<textarea class="input100" name="message" placeholder="Nhập địa chỉ của bạn" autocomplete="new-password"></textarea>*@
                @Html.TextBoxFor(model => model.Address, new { placeholder = "Nhập địa chỉ của bạn", @class = "input100", @autofocus = "autofocus", @autocomplete = "new-password" })
                <span class="focus-input100"></span>
            </div>
            @* Mã code *@
            <div class="wrap-input100">
                <span style="user-select: none; font-weight: bold" class="label-input100">Code:</span>
                @*<input class="input100" type="text" name="phone" placeholder="Code giảm giá" autocomplete="new-password">*@
                @Html.TextBoxFor(model => model.PreCode, new { placeholder = "Code giảm giá", @class = "input100", @autofocus = "autofocus" })
                <span class="focus-input100"></span>
            </div>

            <div class="wrap-input100">
                <div style="display: flex; justify-content: flex-start">
                    <input type="checkbox" id="cbx" class="inp-cbx" style="display: none">
                    <label for="cbx" class="cbx">
                        <span>
                            <svg width="12px" height="10px" viewBox="0 0 12 10">
                                <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                            </svg>
                        </span>
                        <span>Đồng ý điều khoản điều khoản của We Escape</span>
                    </label>
                </div>
                <p type="button" id="clickMe" onclick="showResult()">Click vào đây để xem chi tiết điều khoản</p>
            </div>
            <div class="container-contact100-form-btn">
                <button type="submit" class="contact100-form-btn">
                    <span>
                        Submit
                        <i class="fa fa-long-arrow-right m-l-7" aria-hidden="true"></i>
                    </span>
                </button>
            </div>
        </form>
    </div>
</div>


<textarea cols="60" rows="10" id="myText" style="display:none">
    1. Tôi sẽ giữ bí mật tất cả các thông tin liên quan đến trò chơi, bao gồm và không giới hạn những việc như truyền miệng, đăng thông tin lên mạng xã hội và các kênh truyền thông để không làm ảnh hưởng đến việc kinh doanh của We Escape. Nếu tôi vi phạm một trong các hành vi trên, tôi xin chịu tất cả các trách nhiệm trước pháp luật.
    2. Tôi xin cam kết trong vòng 24 tháng kể từ ngày chơi We Escape, tôi sẽ không trực tiếp hoặc gián tiêp tham gia vào ngành kinh doanh trò chơi "Thoát khỏi phòng kín" và các ngành cạnh tranh với We Escape.
    3. Tôi đã đọc nội quy phòng chơi và hiểu rõ quyền và trách nhiệm của người chơi, như việc bảo vệ các tài sản của We Escape trong phòng chơi. Tôi đồng ý bồi thường trong trường hợp tài sản của We Escape bị hỏng do lỗi của tôi.
    4. Tôi đã hiểu rõ các trò của We Escape không phù hợp với bà mẹ có thai hoặc với những người có tiền sử bệnh tim, huyết áp cao, sợ phòng kín hay các bệnh tương tự. Với việc đồng ý kí vào cam kết này, tôi đồng ý rằng We Escape sẽ không bị liên đới pháp luật nếu có bất kì vấn đề gì liên quan đến sức khỏe của tôi xảy ra trong quá trình tham gia vào trò chơi tại We Escape.
    5. Tôi xin cam kết sẽ tuân theo các nội quy chung của We Escape và We Escape có toàn quyền xử lí nếu tôi vi phạm điều khoản đã nêu trên.
</textarea>

<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>

<script src="https://code.jquery.com/ui/1.11.1/jquery-ui.min.js"></script>

<link rel="stylesheet" href="https://code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css" />

<script>
    function showResult() {
        var input = document.getElementById("myText").value;
        var inputHTML = input.replace(/\r\n|\r|\n/g, "<br />");
        document.getElementById("myText").innerHTML = inputHTML;
    }
    $(function () {
        $('#clickMe').click(function (event) {
            var mytext = $('#myText').val();
            $('<div id="dialog">' + mytext + '</div>').appendTo('body');
            event.preventDefault();
            $("#dialog").dialog({
                width: 600,
                modal: true,
                title: "Điều kiện và điều khoản khi tham gia chơi",
                close: function (event, ui) {
                    $("#dialog").remove();
                }
            });
        }); //close click
    });
    //dom ready handler
    jQuery(function ($) {
        //form submit handler
        $('.contact100-form').submit(function (e) {
            //check atleat 1 checkbox is checked
            if (!$('.inp-cbx').is(':checked')) {
                //prevent the default form submit if it is not checked
                e.preventDefault();
                alert('Vui lòng đồng ý với điều khoản của chúng tôi !')
            }
        })
    });
</script>